body {
  background: rgba(255, 255, 255, 0.7);
  color: white;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #00a8ff;
}

canvas {
  margin-top: 20px;
  border-radius: 15px;
}
